@font-face {
    font-family: 'Reikna';
    src: url('fonts/Reikna.ttf') format('truetype');
    
  }

body{
  background: linear-gradient(to bottom right, #7ee8fa, #eec0c6);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* Header */
header {
  background:transparent;
  color: #191b64;
}

header h1 {
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Reikna', sans-serif;
}

/* Form */
form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form select {
  border: 1px solid #cbd5e0;
  padding: 0.5;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
}

li {
  background: #191b64;
  margin: 1rem;
  padding: 1.2rem;
  border-radius: 2.5rem;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  list-style: none;
}

/* Activity Suggestions */
#activity-suggestions {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c9b6d7;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
